*.gise
*.lst
*.xreport
*.html
*.cmd_log
*.jed
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.rpt
*.syr
*.xml
*.htm
*.xrpt
*.csv
*.ref
*.bin
**/_ngo/
**/tf530r3_bus_top_html/
**/xlnx_auto_0_xdb/
**/_xmsgs/
**/xst/
**/ram_top_html/
**/tf530r3_ram_top_html/

